body{
  font-family:"Avenir Next";
}

/* <<< HEADER >>> */

.header {
  /*背景色：ligytcyan*/
  background-color: #e0fff;
  color: blue;
  height: 50px;
}

/*headerの中のheader-logo:"パパの部屋"*/
.header-logo {
  float:left;
  font-size: 50px;
  padding: 20px 10px;
}

  /*headerの中のheader-list:"今日の出来事〜お問い合わせ"*/
.header-list li {
  list-style: none;
  float:left;
}

/* <<< MAIN >>> */

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

/* <<< CONTENTS >>> */

.contents {
  height: 500px;
  margin-top: 100px;
  
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;  
  padding-bottom: 15px;
  margin-bottom: 50px;
  
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

/* <<< FOOTER >>> */

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
